@import url("./general.css");

html {
    scroll-behavior: smooth;
}

canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

nav {
    padding: 0px 15px 0px 15px;
    font-family: 'Roboto', Helvetica, sans-serif;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.06),0 3px 1px -2px rgba(0,0,0,0.07),0 1px 5px 0 rgba(0,0,0,0.11);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.06),0 3px 1px -2px rgba(0,0,0,0.07),0 1px 5px 0 rgba(0,0,0,0.11);
}

nav a {
    color: rgb(30, 30, 32) !important;
}

#tophtml h2, #tophtml h5 {
    margin: 2px 0px 15px 0px;
}

h2 {
    font-family: 'Raleway';
    font-weight: bold;
}

h3 {
    font-family: 'Raleway';
    font-weight: bold;
}

h5 {
    font-family: 'Roboto';
}

#pointdown {
    position: absolute;
    animation: floating 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
    font-size: 15vh;
    top: 80vh;
    cursor: pointer;
    font-family: 'Material Icons';
    opacity: 0.5;
    color: #000;
    text-align: center;
    text-decoration: none;
    transition: color ease 0.05s;
}

#pointdown:hover {
    color: #444;
}

@keyframes floating {
    50%{
        transform: translateY(-10px);
    }
}

#indexman {
    padding: 0;
    position: relative;
    transform: translateX(-1px);
}

#indexmancover {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
}

#desc {
    background-image: url("../graphics/tile.png");
    background-repeat: repeat;
}

#desc p {
    font-family: 'Arial';
}

#desc h3 {
    font-family: 'Raleway';
    font-weight: bold;
}

#desc img {
    object-fit: contain;
    height: 100%;
}

#requirement {
    padding: 24px 0px 24px 0px;
}

#requirement .material-icons {
    display: flex;
    user-select: none;
}

#requirement .hei {
    height: 300px;
}

#requirement li {
    list-style-type: disc;
    direction: rtl;
}

#requirement .material-icons {
    white-space: normal;
    font-size: 64pt;
}

#screenshots #resize-s {
    margin: 96px 0px 32px 0px;
}

#screenshots iframe {
    width: 100%;
    height: 100%;
}

#resize-s {
    width: 100%;
    max-width: 960px;
}

#video .video-container {
    max-width: 960px;
}

#video .ctrflex {
    width: 100%;
}

#download {
    padding: 16px 0px 16px 0px;
    margin-top: 64px;
}

#download .card-title {
    font-size: 32pt;
}

#support {
    margin-top: 96px;
}

#support img {
    filter: grayscale(100%);
    transition: filter ease 0.1s;
    width: 100%;
}

#support img:hover {
    filter: grayscale(0%);
}

footer {
    margin-top: 128px;
}

#camshow {
    margin-top: 64px;
    position: relative;
}

#camshow h1 {
    font-size: 3.4rem;
}

#phonecontainer img {
    z-index: 5;
    width: 100%;
}

#camshow video {
    margin: auto;
    position: absolute;
    width: 87.5%;
    left: 0;
    right: 0;
    margin-top: 2.55%;
}

#phonecontainer {
    margin: auto;
    position: relative;
    max-width: 1000px;
}

#gameicons {
    max-width: 128px;
}

#gameicons .disbtn {
    background-color: white;
    border-radius: 24px;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-bottom: 4px;
    text-align: center;
    font-size: 8pt;
    user-select: none;
    cursor: pointer;
    transition: transform cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.1s;
}

#gameicons .disbtn:hover {
    transform: scale(1.1);
}

#gameicons img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.zoomed {
    transform: scale(1.1);
}

#news {
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: 'Raleway', 'Arial';
    font-size: 18pt;
}

#news img {
    max-width: 192px;
}
